<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gzt.ora21991.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="gzt.ora21991.dto.Product">
        <result column="PRODUCT_ID" property="productId" jdbcType="DECIMAL" />
        <result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR" />
        <result column="LEVEL_FIRST" property="levelFirst" jdbcType="VARCHAR" />
        <result column="LEVEL_SECOND" property="levelSecond" jdbcType="VARCHAR" />
        <result column="MAN_DAY" property="manDay" jdbcType="DECIMAL" />
        <result column="PRICE" property="price" jdbcType="DECIMAL" />
        <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
        <result column="PRODUCT_ADV_DESC" property="productAdvDesc" jdbcType="VARCHAR" />
        <result column="PRODUCT_OTHER_DESC" property="productOtherDesc" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="gzt.ora21991.dto.Product">
        SELECT
        hp.PRODUCT_ID,hp.CUSTOMER_ID,hp.PRODUCT_TYPE,hp.LEVEL_FIRST,hp.LEVEL_SECOND,hp.MAN_DAY,hp.PRICE, hp.TOTAL_PRICE
        FROM hcrm_product hp
        <where>
        1=1
            <if test="customerId!= null">
                and hp.CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
            </if>
        </where>
    </select>


    <delete id="deleteByCustomerId" parameterType="java.lang.Long" >
        DELETE FROM hcrm_product
        WHERE CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
    </delete>

</mapper>