<#include "../include/header.html">
<!--在代码维护里面定义相应的数据-->
<script src="${base.contextPath}/resources/js/jquery/jquery.form.js"></script>

<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
    });

    function register(){
        if(checkFrom()){
            $.ajax({
                url: '${base.contextPath}/login/user/register',
                type: 'POST',
                dataType: "json",
                data:JSON.stringify(viewModel.model),
                contentType: "application/json",
                success: function (result) {
                    if(result.success){
                        kendo.ui.showInfoDialog({
                            title: $l('hap.tip.info'),
                            message: "注册成功"
                        });
                        // close this window
                        window.parent.$("#register-window").data("kendoWindow").close();
                    } else {
                        kendo.ui.showErrorDialog({
                            title: $l('hap.error'),
                            message : result.message
                        });
                    }
                }
            });
        }
    }
    //表单校验
    function checkFrom() {
        if($("#password").val()!=$("#password1").val()){
            kendo.ui.showErrorDialog({
                title: $l('hap.error'),
                message : "2次密码不一样"
            });
            return false;
        }
        var validator = $("#baseMessage").kendoValidator({
            //验证样式 默认为default
            invalidMessageType: "default",
        }).data("kendoValidator");
        if (validator.validate()) {
            console.log("true");
            return true;
        } else {
            console.log("false");
            return false;
        }
    }

</script>
<style>
    .div{
        margin:0 auto;
        width:50rem;
    }
    .tab-p {
        text-align: center;
        font-size: 2rem;
        margin: 0.7rem;
        font-family: "Arial Black", arial-black;
        font-weight: bold;
    }
    .div-out {

    }

    .font-p {
        margin-top: 1rem;
        height:3rem;
        color: black;
        font-size: 1.4rem;

    }

    .font-input {
        margin-top: 1rem;
        height: 3rem;
        width: 100%;
    }
    .star{
        padding-right: 1rem;
        color: red;
    }

</style>
<body>
<div class="div" id="pageContext">
    <div id="baseMessage">
        <!--注册-start-->
        <div class="row  div-out btn-primary" style="padding: 0.1rem; background-color:#199ed8;border-radius:0.5rem;">
            <div class="col-md-12 tab-p">注册页面</div>
        </div>

        <div class="row div-out" >
            <div class="col-md-5 font-p">
                <span class="star">*</span>账号
            </div>
            <div class="col-md-5 ">
                <input id="userName" pattern="^[a-zA-Z0-9_-]{4,16}$" name="账号" validationMessage="长度为6到16位（字母，数字，下划线，减号）" required  type="text" class="font-input k-textbox k-valid"  data-bind="value:model.userName">
            </div>
            <script>kendo.bind($('#userName'), viewModel);</script>

        </div>
        <div class="row div-out" >
            <div class="col-md-5 font-p">
                <span class="star">*</span>密码
            </div>
            <div class="col-md-5 ">
                <input id="password" pattern="^[a-zA-Z0-9_-]{6,16}$" validationMessage="密码长度为6到16位（字母，数字，下划线，减号）" required name="密码" type="password" class="font-input k-textbox"  data-bind="value:model.password">
            </div>
            <script>kendo.bind($('#password'), viewModel);</script>
        </div>

        <div class="row div-out" >
            <div class="col-md-5 font-p" >
                <span class="star">*</span>确认密码
            </div>
            <div class="col-md-5 ">
                <input id="password1"  name="password1"  type="password" class="font-input k-textbox"  data-bind="value:model.password1">
            </div>
        </div>
        <div class="row div-out" >
            <div class="col-md-5 font-p">
                <span class="star">*</span>姓名
            </div>
            <div class="col-md-5 ">
                <input id="realName" name="realName" type="text" class="font-input k-textbox"  data-bind="value:model.realName">
            </div>
            <script>kendo.bind($('#realName'), viewModel);</script>
        </div>

        <div class="row div-out" >
            <div class="col-md-5 font-p">
                <span class="star">*</span>手机
            </div>
            <div class="col-md-5 ">
                <input id="phone" name="phone" required type="text" class="k-textbox k-valid font-input "  data-bind="value:model.phone"
                       validationMessage="电话必填，格式：1【3,4,5,7,8】xxxx,11位"    placeholder="1【3,4,5,7,8】xxxx,11位"   pattern="^[1][3,4,5,7,8][0-9]{9}$">
            </div>
            <script>kendo.bind($('#phone'), viewModel);</script>
        </div>
            <div class="col-md-12 font-p" style="text-align: center">
             <span class="btn btn-primary k-grid-add" onclick="register()"><i class="fa fa-plus-square" ></i>注册</span>
            </div>
        <div id="attachment-window"></div>
    </div>
    <!--注册-end-->
</body>
</html>