<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduation.money.mapper.BalanceUserMapper">
    <resultMap id="BaseResultMap" type="graduation.money.dto.BalanceUser">
        <result column="bu_id" property="buId" jdbcType="DECIMAL" />
        <result column="money" property="money" jdbcType="FLOAT" />
        <result column="user_id" property="userId" jdbcType="DECIMAL" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectUserBalance" resultMap="BaseResultMap" parameterType="graduation.money.dto.BalanceUser">
        SELECT *
        from
        balance_user t
        <where>
            1=1
            <if test="buId!= null">
                and t.bu_id = #{buId,jdbcType=DECIMAL}
            </if>
            <if test="money!= null">
                and t.money = #{money,jdbcType=DECIMAL}
            </if>
            <if test="userId!= null">
                and t.user_id = #{userId,jdbcType=DECIMAL}
            </if>
            <if test="type!= null">
                and t.type = #{type,jdbcType=DECIMAL}
            </if>
            <if test="orderId!= null">
                and t.order_id = #{orderId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


</mapper>