<#include "../include/header.html">
<!--在代码维护里面定义相应的数据-->
<script src="${base.contextPath}/resources/js/jquery/jquery.form.js"></script>

<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},

    });

    $(function () {
        //加载数据
        var collectId =${RequestParameters.collectId!-1};
        console.log("collectId:" + collectId);
        Hap.loadViewModel({
            url: "${base.contextPath}/goods/collect/query/" + collectId,
            model: viewModel.model
        });

    });

</script>
<style>
    .div {
        margin: 0 auto;
        width: 110rem;
    }

    .tab-p {
        font-size: 1.6rem;
        margin: 0.7rem;
        font-family: "Arial Black", arial-black;
        font-weight: bold;
    }

    .div-out {

    }

    .font-p {
        margin-top: 1rem;
        height: 3rem;
        color: black;
        font-size: 1.4rem;

    }

    .font-input {
        height: 3rem;
        width: 50%;
    }

    .tab-btn {
        float: right;
        margin: 0.5rem;
        font-size: 1.5rem;
        color: #0a001f;
    }
</style>
<body>
<div class="div" id="pageContext">
    <div id="baseMessage">
        <!--基本信息-start-->
        <div class="row  div-out btn-primary" style="padding: 1rem; background-color:#199ed8;border-radius:0.5rem;">
            <div class="col-md-5 tab-p">货物详情</div>

        </div>

        <div class="row div-out" style="padding-top: 1rem">
            <div class="col-md-1 font-p">货物名称</div>
            <div class="col-md-12 ">
                <input required readonly="readonly" name="货物名称" id="collectName" type="text" class="font-input k-textbox"
                       data-bind="value:model.collectName">
            </div>
            <script>kendo.bind($('#collectName'), viewModel);</script>
        </div>

        <div class="row div-out">
            <div class="col-md-1 font-p">货物类别</div>
            <div class="col-md-12">
                <input required readonly="readonly" name="货物类别" type="text" id="collectType" class="font-input k-textbox"
                       data-bind="value:model.collectType">
            </div>
            <script>kendo.bind($('#collectType'), viewModel);</script>
        </div>
    </div>
    <!--基本信息-end-->
    <p>&nbsp;</p>
    <!--货物详情-start-->
    <div class="col-md-12 tab-p">货物详情</div>
    <div id="page-content1">
        <div style="clear:both; padding: 1rem">
            <div id="goods-grid"></div>
        </div>
        <!--货物详情-end-->

        <script type="text/javascript">
            Hap.initEnterQuery('#query-form', viewModel.query);
            var collectId =${RequestParameters.collectId!-1};
            var BaseUrl = _basePath;
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: BaseUrl + "/goods/query/" + collectId,
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type)
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "goodsId",
                        fields: {
                            "goodsName": {
                                validation: {//属性要求
                                    required: true
                                }
                            },
                            "goodsNum": {
                                validation: {//属性要求
                                    required: true

                                },
                                type: "number"
                            },
                            "goodsType": {
                                validation: {//属性要求
                                    required: true
                                }
                            },
                            "goodsQuality": {
                                validation: {//属性要求
                                    required: true,
                                    pattern: "^\\d+\\.[0-9]{1}",
                                    validationMessage: "必填,保留小数点后一位"
                                }
                            },
                        }
                    }
                }
            });

            $("#goods-grid").kendoGrid({
                dataSource: dataSource,
                resizable: true,
                scrollable: true,
                navigatable: false,
                selectable: 'multiple, rowbox',
                dataBound: function () {
                    if (parent.autoResizeIframe) {
                        parent.autoResizeIframe('${RequestParameters.functionCode!}')
                    }
                },
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "goodsName",
                        title: '货物名称',
                        width: 70
                    },
                    {
                        field: "goodsNum",
                        title: '货物数量(个/件)',
                        width: 50
                    },
                    {
                        field: "goodsType",
                        title: '货物类别',
                        width: 50
                    },
                    {
                        field: "goodsQuality",
                        title: '货物质量(KG)',
                        width: 50
                    },
                    {
                        field: "goodsRemark",
                        title: '备注',
                        width: 150
                    },
                ],
                editable: false
            });
        </script>
</body>
</html>