<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduation.mapper.GoodsMapper">
    <resultMap id="BaseResultMap" type="graduation.dto.Goods">
        <result column="goods_id" property="goodsId" jdbcType="DECIMAL" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="goods_num" property="goodsNum" jdbcType="DECIMAL" />
        <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
        <result column="goods_quality" property="goodsQuality" jdbcType="VARCHAR" />
        <result column="goods_remark" property="goodsRemark" jdbcType="VARCHAR" />
    </resultMap>

<insert id="addGoods">
    INSERT  INTO goods (goods_name,goods_num,goods_type,goods_quality,goods_remark,collect_id)
    VALUES (#{goodsName}, #{goodsNum}, #{goodsType}, #{goodsQuality}, #{goodsRemark}, #{collectId})
</insert>

<select id="selectByCollectId" resultMap="BaseResultMap" parameterType="graduation.dto.Goods">
        SELECT * from
        goods
        where
        collect_id = #{collectId,jdbcType=VARCHAR}
</select>

</mapper>