<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduation.mapper.User2Mapper">
    <resultMap id="BaseResultMap" type="graduation.dto.User2">
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="user_call" property="userCall" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="graduation.dto.User2">
        SELECT * from
        login_user
        where
        user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectUser" resultMap="BaseResultMap" parameterType="graduation.dto.User2">
        SELECT * from
        login_user u
        <where>
            <if test="userId!= null">
                and u.user_id = #{userId,jdbcType=DECIMAL}
            </if>
            <if test="userName!= null">
                and u.user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="password!= null">
                and u.password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="realName!= null">
                and e.real_name = #{realName,jdbcType=VARCHAR}
            </if>
            <if test="phone!= null">
                and e.phone = #{phone,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="checkLogin" resultMap="BaseResultMap" parameterType="graduation.dto.User2">
        SELECT * from
        login_user
        where
        user_name = #{userName,jdbcType=VARCHAR}
        and password = #{password,jdbcType=VARCHAR}
    </select>

    <insert id="register">
    INSERT  INTO login_user (user_name, password, phone,real_name,user_call)
    VALUES (#{userName}, #{password}, #{phone},#{realName},#{userCall})
</insert>
</mapper>