<#include "../head/header2.html">
<title>投诉</title>
</head>
<!--在代码维护里面定义相应的数据-->
<script src="${base.contextPath}/resources/js/jquery/jquery.form.js"></script>
<script src="${base.contextPath}/common/code?complainReason=COMPLAIN.REASON" type="text/javascript"></script>

<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
    });

    //加载数据
    $(function () {

        $("#complainReason").kendoDropDownList({
            dataTextField: "meaning",
            dataValueField: "value",
            dataSource: complainReason,
            change: function () {
                viewModel.model.set('complainReason', this.value());
            }
        });
        var orderId =${RequestParameters.orderId!-1};
        var userId =${RequestParameters.userId!-1};
        var driverId =${RequestParameters.driverId!-1};
        console.log(orderId);
        viewModel.model.set("orderId", orderId);
        viewModel.model.set("userId", userId);
        viewModel.model.set("driverId", driverId);
        //加载数据
        Hap.loadViewModel({
            url: "${base.contextPath}/user/complain/query/"+orderId,
            model: viewModel.model
        });
    })

    function addComplain() {
        if (checkFrom()) {
            $.ajax({
                url: '${base.contextPath}/user/complain/add',
                type: 'POST',
                dataType: "json",
                data: JSON.stringify(viewModel.model),
                contentType: "application/json",
                success: function (result) {
                    if (result.success) {
                        kendo.ui.showInfoDialog({
                            title: $l('hap.tip.info'),
                            message: '投诉成功，请等待客服处理',
                            buttons: [{
                                text: kendo.ui.Widget.prototype.options.messages['ok'],
                                type: 'primary',
                                click: function (e) {
                                    window.parent.$("#addComplain-window").data("kendoWindow").close();
                                    e.dialog.destroy();
                                    e.deferred.resolve({button: 'OK'});
                                }
                            }],
                        });
                    } else {
                        kendo.ui.showErrorDialog({
                            title: $l('hap.error'),
                            message: result.message
                        });
                    }
                }
            });
        }
    }

    //表单校验
    function checkFrom() {
        var validator = $("#baseMessage").kendoValidator({
            //验证样式 默认为default
            invalidMessageType: "default",
        }).data("kendoValidator");
        if (validator.validate()) {
            console.log("true");
            return true;
        } else {
            console.log("false");
            return false;
        }
    }

    //投诉图片
    function openComplainP2Window() {
        //初始化投诉图片window
        $("#complainP2-window").kendoWindow({
            width: "600px",
            height: "400px",
            title: '投诉',
            modal: true,
            resizable: false,
            visible: false,
            iframe: true
        });
        var orderId =${RequestParameters.driverId!-1};
        var win = $("#complainP2-window").data("kendoWindow");
        win.refresh('complain_attachment2.html?orderId=' + orderId);
        win.center().open();
    }

</script>
<style>
    .div {
        margin: 0 auto;
        width: 70rem;
    }

    .tab-p {
        text-align: center;
        font-size: 2rem;
        margin: 0.7rem;
        font-family: "Arial Black", arial-black;
        font-weight: bold;
    }

    .div-out {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: green;

    }

    .font-p {
        height: 3rem;
        color: black;
        font-size: 1.4rem;

    }

    .font-input {
        height: 3rem;
        width: 100%;
    }

    .star {
        padding-right: 1rem;
        color: red;
    }

</style>
<body>
<div class="div" id="pageContext">
    <div id="baseMessage">
        <!--评分-start-->
        <div class="row  div-out btn-primary" style="padding: 0.1rem; background-color:#f1f1f1;border-radius:0.5rem;">
            <div class="col-md-12 tab-p">我的投诉</div>
        </div>

        <div class="row div-out">
            <div class="col-md-12 ">
                <span class="star">*</span>投诉原因
                <input readonly="readonly" name="投诉理由" id="complainReason" required type="text" style="width: 70%"
                                                      class=" k-textbox " data-bind="value:model.complainReason">
            </div>
            <script>kendo.bind($('#complainReason'), viewModel);</script>

        </div>
        <div class="row div-out">
            <div class="col-md-10 ">
                <div style="text-align: left">
                    <span class="star">*</span>投诉说明:
                </div>
                <textarea readonly="readonly" name="投诉说明" style="height: 15rem;width: 100%" id="complainContent" required placeholder="请填写评论,最多500字"
                          type="text" class=" k-textbox" data-bind="value:model.complainContent"></textarea>

            </div>
            <script>kendo.bind($('#complainContent'), viewModel);</script>
        </div>
        <div class="row div-out">
            <div class="col-md-12" style="padding-top: 1rem;padding-bottom: 1rem">联系人</div>
            <div class="col-md-5 ">
                    <span class="star">*</span>姓名:
                <input readonly="readonly" id="realName" name="姓名" required placeholder="姓名" type="text" class=" k-textbox"
                       data-bind="value:model.realName">
            </div>
            <script>kendo.bind($('#realName'), viewModel);</script>
            <div class="col-md-5 div-out">
                    <span class="star">*</span>联系电话:
                <input readonly="readonly" id="phone" name="电话" placeholder="1【3,4,5,7,8】xxxx,11位" pattern="^[1][3,4,5,7,8][0-9]{9}$"
                       data-role="maskedtextbox" type="text"
                       required data-bind="value:model.phone"/>
            </div>
            <script>kendo.bind($('#phone'), viewModel);</script>
            <div class="col-md-12 div-out" style="padding-bottom: 1rem;padding-top: 1rem">
            <span class="btn btn-success k-grid-add"
                  onclick="openComplainP2Window()"><i class="fa fa-arrow-circle-o-up" style="margin-right:3px;"></i> 投诉图片</span>
            </div>
        </div>
        <div id="complainP2-window"></div>

    </div>
    <!--评分-end-->
</body>
</html>