<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduation.credit.mapper.CreditUserMapper">
    <resultMap id="BaseResultMap" type="graduation.credit.dto.CreditUser">
        <result column="credit_id" property="creditId" jdbcType="DECIMAL" />
        <result column="user_id" property="userId" jdbcType="DECIMAL" />
        <result column="order_id" property="orderId" jdbcType="DECIMAL" />
        <result column="num" property="num" jdbcType="DECIMAL" />
        <result column="credit_type" property="creditType" jdbcType="DECIMAL" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectCreditUser" resultMap="BaseResultMap" parameterType="graduation.credit.dto.CreditUser">
        SELECT *
        from
        credit_user t
        <where>
            1=1
            <if test="creditId!= null">
                and t.credit_id = #{creditId,jdbcType=DECIMAL}
            </if>
            <if test="userId!= null">
                and t.user_id = #{userId,jdbcType=DECIMAL}
            </if>
            <if test="orderId!= null">
                and t.order_id = #{orderId,jdbcType=DECIMAL}
            </if>
            <if test="creditType!= null">
                and t.credit_type = #{creditType,jdbcType=DECIMAL}
            </if>
        </where>
        order  by t.create_time desc
    </select>

    <insert id="addCredit">
    INSERT  INTO credit_user (user_id,order_id,credit_type,num)
    VALUES (#{userId}, #{orderId}, #{creditType}, #{num})
</insert>


</mapper>